<div class="reservarContainer">
  <div class="googleMap">
    <div class="iFrame">
      <iframe class="iFrame" src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=UTC&showTitle=0&showPrint=0&showCalendars=0&showTabs=0&showTz=0&src=ZGZjMTM3YjZkZDBhYjdhZGQ0ZDg1ZWEyZDg3ZDA4M2YzZjVkYWVkNTU2M2I3NTA2Nzg0NzVhOTA2MDg4MzdkMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4" style="border-width:0;" width="800" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
  <div class="contacto">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, ipsam dignissimos? Aperiam, facilis ex sapiente eligendi similique recusandae dolorum. Neque expedita quos facere nemo cumque, suscipit ipsum totam pariatur culpa.</p>
    <p>Whatsapp icon</p>
  </div>
</div>

