.reservarContainer {
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contacto {
  max-width: 1444px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  .textsBox{
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    // padding: 20px;
    margin: 5px;
    max-width: 800px;
    h1, p {
      font-weight: bold;
    }
  }
  .buttonsBox {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    height: 300px;
    .link {
      text-decoration: none !important;
      margin: 0 10px;
      font-size: 1.3rem;
      font-weight: bold;
      color: #fff;
      text-align: left;
    }
  }
  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #075E54;
    border-radius: 0.5rem;
    margin: 5px;
    padding: 5px;
    height: 70px;
    width: 320px;
    .link {
      text-decoration: none !important;
      margin: 0 10px;
      font-size: 1.3rem;
      font-weight: bold;
      color: #fff;
      text-align: left;
    }
    p {
      margin: 0 10px;
      font-size: 1.3rem;
      font-weight: bold;
      color: #fff;
      text-align: left;
    }
    .whatsapp-icon {
      margin: 0 10px;
      width: 50px;
    }
  }
  .showCalendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F4B400;
    border-radius: 0.5rem;
    margin: 5px;
    padding: 5px;
    height: 70px;
    width: 320px;
    p {
      margin: 0 10px;
      font-size: 1.3rem;
      font-weight: bold;
      color: #fff;
      text-align: left;
    }
    .whatsapp-icon {
      margin: 0 10px;
      width: 50px;
    }
  }
}

.googleCalendar {
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  .iFrame {
    width: 100%;
    padding: 5px;
    max-width: 900px;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
}

@media (max-width: 868px) {
  .contacto {
    flex-flow: nowrap column;
    .buttonsBox {
      flex-flow: nowrap row;
      height: 100%;
      width: 100%;
    }
    .button {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #075E54;
      border-radius: 0.5rem;
      margin: 5px;
      height: 70px;
      p {
        margin: 0 10px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #fff;
        text-align: left;
        max-width: 260px;
      }
      .whatsapp-icon {
        margin: 0 10px;
        width: 50px;
      }
    }
    .showCalendar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #F4B400;
      border-radius: 0.5rem;
      margin: 5px;
      height: 70px;
      p {
        margin: 0 10px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #fff;
        text-align: left;
        max-width: 260px;
      }
      .whatsapp-icon {
        margin: 0 10px;
        width: 50px;
      }
    }
  }
}

@media (max-width: 568px) {
  .contacto {
    .buttonsBox {
      flex-flow: wrap row;
    }
    .button {
      width: 85%;
    }
    .showCalendar {
      width: 85%;
    }
  }
}

@media (min-width: 1228px) {
  .button:hover {
    cursor: pointer;
  }
  .showCalendar:hover {
    cursor: pointer;
  }
}
