<div class="galeriaContainer">
  <div class="imagenGrande">
    <img src="../../../assets/habitacion.png" alt="">
  </div>
  <div class="cuadriculaImagenes">
    <div class="imagenes">
      <div class="rowImages">
        <img src="../../../assets/piscina.png" alt="">
        <img src="../../../assets/cocina.png" alt="">
      </div>
      <div class="rowImages">
        <img src="../../../assets/barbacoa.png" alt="">
        <img src="../../../assets/baño.png" alt="">
      </div>
    </div>
  </div>
</div>
