<div class="actividadesContainer">
  <div class="box">
    <h1 class="textIntro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, distinctio aut voluptatum dolorum vero ipsam consectetur ducimus perspiciatis! Soluta illum, delectus eligendi odit necessitatibus quos! Officiis inventore excepturi quaerat eveniet.</h1>
    <div class="iconosContainer">
      <div class="iconosBloque">
        <div class="iconoTexto">
          <div class="icono"></div>
          <!-- <img src="../../../assets/" alt=""> -->
          <p>Lorem ipsum dolor sit amer consectetur adipisicing elit</p>
        </div>
        <div class="iconoTexto">
          <div class="icono"></div>
          <!-- <img src="../../../assets/" alt=""> -->
          <p>Lorem ipsum dolor sit amer consectetur adipisicing elit</p>
        </div>
        <div class="iconoTexto">
          <div class="icono"></div>
          <!-- <img src="../../../assets/" alt=""> -->
          <p>Lorem ipsum dolor sit amer consectetur adipisicing elit</p>
        </div>
      </div>
      <div class="iconosBloque">
        <div class="iconoTexto">
          <div class="icono"></div>
          <!-- <img src="../../../assets/" alt=""> -->
          <p>Lorem ipsum dolor sit amer consectetur adipisicing elit</p>
        </div>
        <div class="iconoTexto">
          <div class="icono"></div>
          <!-- <img src="../../../assets/" alt=""> -->
          <p>Lorem ipsum dolor sit amer consectetur adipisicing elit</p>
        </div>
        <div class="iconoTexto">
          <div class="icono"></div>
          <!-- <img src="../../../assets/" alt=""> -->
          <p>Lorem ipsum dolor sit amer consectetur adipisicing elit</p>
        </div>
      </div>
    </div>
  </div>
</div>
